.App {
  width: 1050px;
  max-width: 1100px;
  max-height: 560px;
  
  padding: 10px 32px;
  margin: 40px auto; 

  background-color: hsl(24, 100%, 69%);
  
  border-radius: 20px;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);

  display: grid;
  grid-template-areas:
  'App-logo App-logo apresentation'
  'App-logo App-logo slogan'
  'App-logo App-logo pedido';
}

.App-logo              { grid-area: App-logo; }
.apresentation         { grid-area: apresentation; }
.slogan                { grid-area: slogan; }
.pedido                { grid-area: pedido; }


.App-logo {
  margin: 50px;
      width: 75%;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin inherit 8s cubic-bezier(0.50, -0.50, 0.1000, 0.0500) ;
  }
}

 @keyframes App-logo-spin {
  from {
    transform: rotate(25deg);
    transform: rotate(-25deg);
    
  }to {
    transform: rotate(-8deg);
    transform: rotate(8deg);
  }
  
}

.apresentation {
  font-weight: 400;
  font-family: Cookie;
  font-size: 75px;
  
  text-align: center;
  
  padding-top: 5px;
  color: #f84417;
}

.slogan {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slogan img {
  width: 50px;
  margin-left:25px;
  margin-bottom:10px;



}

.Coffe-image {
  padding-top: 16px;
}

.slogan span {
  font-weight: 400;
  font-family: Poppins;

  
  
  font-size: 1.2em; 

  color: #7c1900;
}

.pedido {
  border: solid 1px #7a482d; 
  border-radius: 100px;
  
  font-weight: 400;
  font-family: Poppins;
  

  text-align: end;
  margin-top: 25px;
  margin-bottom: 35px; 
  padding-bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
}

.pedido h1 {
  text-align: center;

  font-weight: 500;
  font-family: Poppins;
  color: #f84417;

  padding-bottom: 15px;
  padding-top: 15px;
  
}

.form-information label {
  padding-right: 15px;
  color: #7c1900;
  align-items: center;
}

.form-information input, select  {
  background-color: #f0c585;

  width: 50%;
  

  font-weight: 400;
  font-family: Poppins;

  border: none;
  padding: 8px;
  border-radius: 4px;
}

.form-information input {
  width: 185px;
}



.form-information button {
  width: 150px; /* largura da borda */
  height: 50px;  /* altura da borda */

  margin: 1rem ;

  font: 500 15px Poppins;
  padding: 10px;

  border: 0;
  border-radius: 100px;

  color: #3b2417;
  background: #f76f46;

  transition: background 0.2s;

  cursor: pointer;

}

.form-information button:hover {
  background-color: #f77c56;
}

.apresentation,
.slogan,
.pedido {
  
  margin-left: -50px;
}

